header {
    background-color: $navbar;
    position: fixed;
    width: 100vw;
    z-index: 24;
    visibility: hidden;
    opacity: 0;
    animation: delay 1.5s ease  2.4s  forwards;
    
    nav {
        padding: 20px;
        
        
               
        .images-nav{
            display: flex;
            justify-content: space-between; 
            
            .logo {
                height: 22px;
                margin: auto 5px;
                cursor: pointer;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                visibility: hidden;
            }
    
            .hamburger {
                a {
                    -webkit-tap-highlight-color: rgba(0,0,0,0);
                }
                div {
                    width: 25px;
                    height: 2px;
                    background-color: $fontColor;
                    margin: 5px;
                    transition: 0.4s ease;
                }

                .line2 {
                    transition: 0.2s ease;
                }
            }

            .hamburger-active .line1 {
                transform: rotate(-45deg) translate(-4px, 6px);
            }
            .hamburger-active .line2 {
                opacity: 0;
            }
            .hamburger-active .line3 {
                transform: rotate(45deg) translate(-4px, -6px);
            }
        }
    }

    

    .menu-dropdown {
        height: 0px; /* height = 250px to show the menu */
        width: 100%; 
        position: fixed;
        z-index: 1;
        right: 0;
        top: 60px;
        background-color: $navbar;
        overflow: hidden; /* hide dropdown content when height = 0px */
        transition: 0.6s;         
    

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;
            padding-top: 10px;
            
            
            li {
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                text-align: center;
                margin: 20px;
                cursor: pointer;
                &:hover {
                    color: $blueHover;
                }
                &:active {
                    color: $blueHover;
                }
                
            }

            .social-icons{
                width: 200px;
                margin: auto;
                padding-top: 20px;
                display: flex;
                justify-content: space-evenly;

                .linkedin-icon, .github-icon, .resume-icon{
                    height: 20px;
                }
            }
        }
    }

    .menu-active {
        height: 300px; /* height = 250px to show the menu */
    }
}

.modal-download {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 25;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    display: flex;
    justify-content: center; 
    align-items: center;
    transition: .3s;
    visibility: hidden;
    opacity: 0;

    .box-download {

        background-color: $navbar;
        padding: 10px;
        border-radius: 10px;
        width: 80%;
        max-width: 300px;
        height: 120px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        
        .confirm-buttons{
            width: 100%;
            display: flex;
            justify-content: center; 
            align-items: center;
            
            .download, .cancel {
                background-color: $blueUnderscore;
                width: 90px;
                text-align: center;
                font-size: 14px;
                text-decoration: none;
                color: #fff;
                border-radius: 3px;
                padding: 10px;
                margin: 0 10px;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                &:active {
                    color: $blueHover;
                    border-color: $blueHover;
                }
            }

            .cancel {
                background-color: $fontColor;
                
            }
        }
    }
}

.download-active {
    visibility: visible;
    opacity: 1;
    
}