#logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill .5s ease  .9s  forwards, move .7s ease-out 2s forwards, shrink .7s ease-out 2s forwards;
    width: 70px;
    height: 44px;
    z-index: 29;
    cursor: pointer;
  }
  
  #logo path {
    transition: .5s;
    stroke-dasharray: 285;
    stroke-dashoffset: 285;
    animation: line-anim 2s ease forwards;
    stroke: $fontColor;
  }

  @media only screen and (min-width: 1025px) { 

    #logo {
      width: 35px;
      height: 22px;
      position: absolute;
      top: 30px;
      left: 40px;
      transform: translate(0%, 0%);
      animation: fill .5s ease  .9s  forwards, shrink .7s ease-out 2s forwards/* , move-desktop .7s ease-out 2s forwards */;
    }

  }