.section-contact {
    height: calc(100% - #{$navheight});
    width: 100%;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 66px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: transform 0.8s ease;
    transform: translate(100vw);
    opacity: 0;
    
    .section-contact-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
        margin-top: 40px;
        p {
            font-size: 4vw;
            margin: 0px 0px;
        }
    
        .form-container {
            height: auto;
            max-height: 500px;
            width: 80%;
            max-width: 400px;
            background-color: $navbar;
            border-radius: 10px;
            padding: 20px 0;
            margin-top: 40px;
            
            
    
            form {
                height: 100%;
                width: 80%;
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: left;
    
                label {
                    font-size: 3.5vw;
                    padding: 0 0 10px 0;
                }
    
                input {
                    min-height: 25px;
                    margin: 0 0 10px 0;
                    outline-style: none;
                    font-size: 3.5vw;
                    font-family: $rubik;
                    border-radius: 5px;
                    background-color: $bodyBackground;
                    border: none;
                    padding: 0 10px;
                    &:focus {
                        box-shadow: 0px 0px 10px 3px rgba(22, 114, 235, 0.3);
                    }
                    
                }
    
                textarea {
                    min-height: 100px;
                    max-height: 500px;
                    margin: 0 0 20px 0;
                    background-color: $bodyBackground;
                    border-radius: 5px;
                    outline-style: none;
                    border: none;
                    font-family: $rubik;
                    font-size: 3.5vw;
                    padding: 5px 10px;
                    &:focus {
                        box-shadow: 0px 0px 10px 3px rgba(22, 114, 235, 0.3);
                    }
                }
    
                button {
                    border: none;
                    border-radius: 5px;
                    color: #f5f5f5;
                    font-size: 3.5vw;
                    font-family: $rubik;
                    width: 50%;
                    max-width: 200px;
                    margin: auto;
                    height: 40px;
                    background-color: $blueUnderscore;
                    &:hover {
                        background-color: $blueHover;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 450px) {
    .section-contact {
        
        .section-contact-content {
            
            p {
                font-size: 16px;;
            }

            .form-container{
                form {
                    label, input, textarea, button {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {

    .section-contact {
        height: calc(100% - #{80px});
        width: 100%;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 80px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.8s ease;
        transform: translate(100%);
        opacity: 0;
           
        .section-contact-content {
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            gap: 0px;
            margin-top: 0px;
            padding-bottom: 40px;
            p {
                margin: 20px 0px 20px 0;
            }
        
            .form-container {
                height: auto;
                max-height: 500px;
                width: 80%;
                max-width: 500px;
                background-color: rgba(0, 0, 0, 0);
                border-radius: 10px;
                padding: 0px;
                background-color: $navdesktop;
                margin-top: 0px;
                
        
                form {
                    height: 100%;
                    width: 80%;
                    margin: 30px auto auto auto;
                    display: flex;
                    flex-direction: column;
                    align-items: left;
        
                    label {
                        font-size: 14px;
                        padding: 0 0 10px 0;
                    }
        
                    input {
                        min-height: 25px;
                        margin: 0 0 10px 0;
                        outline-style: none;
                        font-size: 14px;
                        font-family: $rubik;
                        border-radius: 5px;
                        background-color: $bodyBackground;
                        border: none;
                        padding: 0 10px;
                        &:focus {
                            box-shadow: 0px 0px 10px 3px rgba(22, 114, 235, 0.3);
                        }
                        
                    }
        
                    textarea {
                        height: 100px;
                        margin: 0 0 20px 0;
                        background-color: $bodyBackground;
                        border-radius: 5px;
                        outline-style: none;
                        border: none;
                        font-family: $rubik;
                        font-size: 14px;
                        padding: 5px 10px;
                        &:focus {
                            box-shadow: 0px 0px 10px 3px rgba(22, 114, 235, 0.3);
                        }
                    }
        
                    button {
                        border: none;
                        border-radius: 5px;
                        color: #f5f5f5;
                        font-size: 16px;
                        font-family: $rubik;
                        width: 40%;
                        max-width: 200px;
                        margin: 0px auto 20px auto;
                        
                        padding: 5px 20px;
                        height: 40px;
                        background-color: $blueUnderscore;
                        &:hover {
                            background-color: $blueHover;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}