.section-work {
    height: calc(100% - #{$navheight});
    width: 100%;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 66px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.8s ease;
    transform: translate(100vw);
    opacity: 0;

    p {
        margin: 0px 0px;
    }

    .swiper-container {
        height: 75%;
        width: 100%;
        max-width: 850px;
        margin-bottom: 50px;
        

        .swiper-wrapper {
            
            .swiper-slide{
                text-align: center;
                margin: auto;
                width: 250px;
                height: 75%;
                background-color: rgb(172, 171, 171);
                border-radius: 10px;

                img {
                    width: 230px;
                    height: 150px;
                    margin: 10px;
                    border-radius: 5px;
                }

                p {
                    padding: 0 10px;
                    font-size: 14px;
                    margin-bottom: 80px;
                }

                .btn-swiper-slide{
                    width: 100%;
                    height: auto;
                    

                    .btn-live, .btn-github {
                        font-size: 14px;
                        text-decoration: none;
                        color: #000;
                        border: 1px solid #000;
                        border-radius: 3px;
                        padding: 5px;
                        margin: 0 5px;
                        -webkit-tap-highlight-color: rgba(0,0,0,0);
                        &:active {
                            color: $blueHover;
                            border-color: $blueHover;
                        }
                    }

                            
                }
                    
                    
                    

                    
                

            }

            .swiper-slide-active {
                transform: scale(1.15);
                transition: 0.5s;
            }

            .slide1{

            }

            .slide2{

            }

            .slide3{

            }

            .slide4{

            }

            .slide5{

            }

        }

    }

}

