$bodyBackground: #6fd8b5; /* Defines a variable */
$headerH1: #9345b8;
$headerH1-Hover: #000000;
$headerH2: #ce3125;
$headerH2-Hover: #ffffff;


@mixin flexCenter { /* Defines a function */
    display: flex;
    flex-direction: column;
    align-items: center;
}


body {
    @include flexCenter(); /* Imports the function */
    background-color: $bodyBackground; /* Imports the variable */
}

@import "./header"; /* Imports the header file */
@import "./main";