@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

$bodyBackground: #F3f3f3;
$fontColor: #3c3c3c;
$navbar: #ababab;
$blueUnderscore:#22A0E7;
$blueHover:#0090e4;
$rubik:'Rubik', sans-serif;
$navheight: 66px;



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $rubik;
    background-color: $bodyBackground;
}

main {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.underscore {
    background-image: url(../images/underscore.svg); 
}

@import "./header";
@import "./section-about";
@import "./section-skills";
@import "./section-work";
@import "./section-contact";

.section-in {
    transform: translate(0vw);
}

.section-out {
    opacity:1;
}

