@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

$bodyBackground: #F3f3f3;
$fontColor: #3c3c3c;
$navbar: #d8d8d8; /* #E3E3E3 #ababab*/
$blueUnderscore:#22A0E7;
$blueHover:#0090e4;
$rubik:'Rubik', sans-serif;
$navheight: 66px;



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $rubik;
    background-color: $bodyBackground;
    
}

#logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill .5s ease  .9s  forwards, move .7s ease-out 2s forwards, shrink .7s ease-out 2s forwards;
    width: 70px;
    height: 44px;
    z-index: 29;
    
  }
  
  #logo path {
    transition: .5s;
    stroke-dasharray: 285;
    stroke-dashoffset: 285;
    animation: line-anim 2s ease forwards;
    stroke: $fontColor;
  }
  
  

main {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    animation: delay 1.5s ease 2.4s forwards;
}

.underscore {
    background-image: url(../images/underscore.svg); 
}

@import "./header";
@import "./section-about";
@import "./section-skills";
@import "./section-work";
@import "./section-contact";

.section-in {
    transform: translate(0vw);
}

.section-out {
    opacity:1;
}

@keyframes delay {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes line-anim {
    100% {
      stroke-dashoffset: 100;
      
    }
  
  }
  
  @keyframes move {
    100% {
      position: absolute;
      top: 23px;
      left: 23px;
      transform: translate(0, 0);
    }
  }
  
  @keyframes shrink {
    100% {
      width: 35px;
      height: 22px;
    }
  }
  
  @keyframes fill {
    0% {
      fill: transparent;
    }
    
    100% {
      fill: $fontColor;
    }
  }

